* {
    /*Reset*/
      margin: 0;
      padding: 0;
      border: none;
      box-sizing: border-box;
      text-decoration: none;
      list-style: none;
    /*Primary colors*/
      --light-red-cta-text: hsl(356, 100%, 66%);
      --very-light-red-cta-hover-background: hsl(355, 100%, 74%);
      --very-dark-blue-headings: hsl(208, 49%, 24%);
    /*Neutral colors*/
      --white-text: hsl(0, 0%, 100%);
      --grayish-blue-footer-text: hsl(240, 2%, 79%);
      --very-dark-grayish-blue-body-copy: hsl(207, 13%, 34%);
      --very-dark-black-blue-footer-background: hsl(240, 10%, 16%);
    /*gradient*/
      /*Background gradient - Intro/CTA mobile nav:*/
      --very-light-red: hsl(13, 100%, 72%);
      --light-red: hsl(353, 100%, 62%);
      /*Background gradient - body:*/
      --very-dark-gray-blue: hsl(237, 17%, 21%);
      --very-dark-desaturated-blue: hsl(237, 23%, 32%);
    /*font*/
      /*font-family: 'Overpass', sans-serif;
        font-family: 'Ubuntu', sans-serif;*/
      font-size: 62.5%;
}

header{
  background: url(./images/bg-pattern-intro-mobile.svg), linear-gradient(130deg, var(--very-light-red), var(--light-red));
  background-repeat: no-repeat;
  background-size: 1100px, cover;
  background-position-x: -230px, 0;
  background-position-y: -185px, 0;
  border-radius: 0 0 0 95px ;

  padding: 5.7rem 2.4rem 12rem;
}

.nav-logo-menuBtn{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo{
  width: 8rem;
}

.open-menu{
  width: 32px; 
  height: 18px;
  background-image: url(./images/icon-hamburger.svg);
}

.close-menu{
  width: 26px;
  height: 26px;
  background-image: url(./images/icon-close.svg);
}

.menu{
  position: absolute;
  width: 88%;
  background: var(--white-text);
  margin-block-start: 2.4rem;
  border-radius: 8px;
  padding: 2.4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  box-shadow: -1px 15px 15px -5px rgba(0,0,0,0.5);
}

.nav-links{
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.menu-choice{
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.small-menu, .small-menu span{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: .4rem;
  font-family: 'Overpass', sans-serif;
  font-weight: 600;
  font-size: 1.8rem;
  color: var(--very-dark-black-blue-footer-background);
}

.transform-arrow-icon{
  transform: rotate(180deg);
}

.small-menu-options{
  background-color: hsl(240, 15%, 92%);
  padding: 2.4rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: .8rem;
  gap: .8rem;
  font-family: 'Overpass', sans-serif;
  font-weight: 600;
  font-size: 2.4rem;
  color: var(--very-dark-grayish-blue-body-copy);
}

.login-button{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.6rem;
}

.login-button a:nth-child(1){
  color: var(--very-dark-black-blue-footer-background);
}

.login-button a{
  font-family: 'Ubuntu', sans-serif;
  font-size: 1.8rem;
  font-weight: 500;
}

.singUp-button{
  background: linear-gradient(145deg, var(--very-light-red), var(--light-red));
  color: var(--white-text);
  padding: 1.2rem 2.8rem;
  border-radius: 25px;
}

.divider{
  width: 100%;
  height: 1px;
  background-color: var(--grayish-blue-footer-text);
}

.header-title{
  font-family: 'Overpass', sans-serif;
  font-weight: 600;
  font-size: 3.6rem;
  text-align: center;
  color: var(--white-text);
  margin-block-start: 7.2rem;
}

.header-description{
  font-family: 'Overpass', sans-serif;
  font-weight: 300;
  font-size: 1.8rem;
  text-align: center;
  color: var(--white-text);
}

.cta-buttons{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: .8rem;
  margin-block-start: 3.6rem;
}

.cta-btn{
  border-radius: 3rem;
  font-family: 'Ubuntu', sans-serif;
  font-size: 1.6rem;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 135px;
  height: 50px;
}

.cta-start{
  color: var(--light-red-cta-text);
  background-color: var(--white-text);
}

.cta-learn{
  border: 1px solid var(--white-text);
  color: var(--white-text);
}

.hidden-menu{
  display: none;
}

.content-wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 4.8rem;
}

.section-wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
}

section img{
  margin-block-start: 3.4rem;
  width: 375px;
}


.section-title{
  font-family: 'Overpass', sans-serif;
  color: var(--very-dark-blue-headings);
  font-size: 2.4rem;
  font-weight: 600;
  margin-block-start: 8.8rem;
  margin-block-end: 3.4rem;
  text-align: center;
}

.section-descrption{
  font-family: 'Overpass', sans-serif;
  font-weight: 600;
  font-size: 1.6rem;
  color: var(--very-dark-grayish-blue-body-copy);
  text-align: center;
}

.stateOfArt-section{
  position: relative;
  height: 842px;
}

.stateOfArt-section div{
  background-image: url(./images/bg-pattern-circles.svg), linear-gradient(270deg, #2C2D3F 0%, #3F4164 99.31%);;
  background-repeat: no-repeat, repeat;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: center;
  padding: 15rem 2.6rem;
  border-radius: 0 95px;
  position: relative;
  top: -222px;
  z-index: -1;
  background-position-x: center;
  background-position-y: -236px;
  background-size: cover;
}

.stateOfArt-section div h2{
  font-size: 3.6rem;
  color: var(--white-text);
}

.stateOfArt-section div p{
  color: var(--grayish-blue-footer-text);
}

footer{
  padding: 7.2rem 2.4rem;
  background-color: var(--very-dark-black-blue-footer-background);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5.6rem;
  border-radius: 0 95px 0 0;
  margin-block-start: 5.6rem;
}

footer div:not(.attribution) h4{
  margin-block-end: 1.6rem;
}

footer div:not(.attribution){
  display: flex;
  flex-direction: column;
  font-family: 'Overpass', sans-serif;
  font-size: 2rem;
  color: var(--grayish-blue-footer-text);
  align-items: center;
}

.attribution { 
  font-family: 'Overpass', sans-serif;;
  font-size: 11px; 
  text-align: center; 
  color: hsl(240, 2%, 79%);
}
  
.attribution a {
   font-size: 11px; 
   color: hsl(240, 12%, 90%); 
}

@media screen and (min-width:768px) {
  header{
    background: url(./images/bg-pattern-intro-desktop.svg), linear-gradient(130deg, var(--very-light-red), var(--light-red));
    background-repeat: no-repeat;
    background-size: 300rem, cover;
    background-position-x: -39.5rem, 0;
    background-position-y: -125rem, 0;
    padding-inline: 16rem;
  }
  
  nav{
    display: flex;
    align-items: flex-start;
    gap: 5.6rem;
  }

  #icon-hamburger{
    display: none;
  }

  .menu {
    position: unset;
    width: unset;
    background: unset;
    margin-block-start: unset;
    border-radius: unset;
    padding: unset;
    box-shadow: unset;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 2rem;
    justify-content: space-between;
    flex: 1;
  }

  .nav-links{
    flex-direction: row;
    width: unset;
  }

  .login-button{
    flex-direction: row;
  }

  .small-menu{
    color: var(--white-text);
    padding: .8rem 2.4rem 0;
  }

  .small-menu span{
    color: var(--white-text);
  }

  .small-menu:hover span{
    cursor: pointer;
    border-bottom: 2px solid var(--white-text);
  }

  .small-menu-options {
    background-color: var(--white-text);
    width: 130px;
    border-radius: unset;
    color: black;
    font-weight: 300;
    position: absolute;
    align-items: flex-start;
    border-radius: .8rem;
    top: 98px;
  }

  .small-menu-options p:hover{
    cursor: pointer;
    font-weight: 600;
  }

  .divider{
    display: none;
  }

  .login-button a:nth-child(1) {
    color: var(--white-text);
  }

  .singUp-button {
    background: var(--white-text);
    color: var(--light-red-cta-text);
    padding: 1.2rem 2.8rem;
    border-radius: 25px;
  }

  .singUp-button:hover, .cta-start:hover{
    color: var(--white-text);
    background-color: var(--very-light-red);
    cursor: pointer;
  }

  .cta-learn:hover{
    color: var(--light-red-cta-text);
    background-color: var(--white-text);
    cursor: pointer;
  }

  #arrow-icon-one, #arrow-icon-two, #arrow-icon-three{
    content: url(./images/icon-arrow-light.svg);
  }

  .designed-section{
    flex-direction: row-reverse;
    overflow-x: hidden;
  }

  .content-wrapper{
    position: relative;
    align-items: flex-start;
    padding-inline-start: 16rem;
    top: -3rem;
  }

  .section-title, .section-descrption{
    text-align: start;
  }

  .section-wrapper h2{
    position: relative;
    font-size: 3.4rem;
    top: 10rem;
  }

  .illu-editor{
    content: url(./images/illustration-editor-desktop.svg);
    position: relative;
    width: 70rem;
    left: 20rem;
    top: -3rem;
  }

  .stateOfArt-section{
    position: unset;
    height: unset;
  }
  

  .stateOfArt-section{
    background-image: url(./images/bg-pattern-circles.svg), linear-gradient(135deg, #2C2D3F 0%, #3F4164 99.31%);;
    background-repeat: no-repeat, repeat;
    background-position-y: -50rem, 0rem;
    background-position-x: -22rem,0rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0rem 15rem 0rem 11rem;
    border-radius: 0 95px;
    height: 43rem;
    margin-block-start: 2.4rem;
  }

  .stateOfArt-section img{
    width: auto;
  }
  
  .stateOfArt-section div{
    display: flex;
    flex-direction: column;
    align-content: unset;
    align-items: unset;
    justify-content: unset;
    position: relative;
    top: -5rem;
    left: 5rem;

    background-image: unset;
    background-repeat: unset;
    padding: unset;
    border-radius: unset;
    z-index: unset;
    background-position-x:unset;
    background-position-y: unset;
    background-size: unset;
  }
  
  .stateOfArt-section div h2{
    font-size: 3.6rem;
    color: var(--white-text);
    position: unset;
  }
  
  .stateOfArt-section div p{
    color: var(--grayish-blue-footer-text);
  }

  .illu-laptop{
    content: url(./images/illustration-laptop-desktop.svg);
    width: auto;
    position: relative;
    left: -275px;
  }

  .illu-laptop-section{
    flex-direction: row;
    margin-block-start: 3.6rem;
  }

  .illu-laptop-section div{
    position: relative;
    left: -160px;
    top: -20px;
  }
}